<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happier.flowering.mapper.AttentionMapper">

    <select id="findUserInitiativeId"  resultType="int">
        select user_passive from attention where user_initiative = #{id}
    </select>

    <select id="findUserpassiveId"  resultType="int">
        select user_initiative from attention where user_passive= #{id}
    </select>
    <insert id="insertAttention">
        insert into attention(user_initiative, user_passive)
        values(#{userInitiative}, #{userPassive})
    </insert>
    <select id="ifAttention" resultType="int">
        select count(*) from attention where user_initiative = #{userInitiative} and user_initiative = #{userInitiative}
    </select>
    <delete id="deleteAttention">
        delete from attention where user_initiative = #{userInitiative} and user_initiative = #{userInitiative}
    </delete>
</mapper>
