<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happier.flowering.mapper.AttentionMapper">

    <select id="findUserInitiativeId"  resultType="int">
        select user_passive from attention where user_initiative = #{id}
    </select>

    <select id="findUserpassiveId"  resultType="int">
        select user_initiative from attention where user_passive= #{id}
    </select>
</mapper>
